/* Estilos gerais para o body */
body {
    font-family: "Josefin Sans", serif;  /* Fonte limpa e padrão */
    margin: 0;
    padding: 0;
    background-color: #090925;  /* Cor de fundo escura */
    display: flex;
    justify-content: center;  /* Centraliza o conteúdo na tela */
    align-items: center;      /* Centraliza na vertical */
    height: 100vh;            /* Altura total da tela */
    text-align: center;       /* Centraliza o texto */
}

/* Estilo para o container da mensagem */
section {
    background-color: #6fa7eb;  /* Fundo similar ao formulário de pedido */
    padding: 30px;
    border-radius: 8px;       /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Sombra suave */
    width: 300px;
    height: 150px;             /* Largura fixa */
}

/* Estilo para o título principal */
h1 {
    font-size: 28px;
    color: #4cf14fe6;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px #000000; /* Sombra única com desfoque */
}

/* Estilo para o subtítulo */
h2 {
    font-size: 18px;
    color: #ffd82c;
}

/* Responsividade */
@media (max-width: 400px) {
    section {
        width: 90%;
    }
}
