/* Estilos gerais para o body e a tela */
body {
    font-family: "Josefin Sans", serif;
    margin: 0;
    padding: 0;
    background-color: #090925;  /* Cor de fundo clara */
    display: flex;
    justify-content: center;  /* Centraliza a tela */
    align-items: center;      /* Centraliza a tela verticalmente */
    height: 100vh;            /* Altura total da tela */
}

/* Estilo para o container da tela de pedido */
#form_pedido {
    background-color: #6fa7eb;
    padding: 30px;
    border-radius: 8px;       /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Sombras suaves */
    width: 350px;             /* Largura fixada para o form */
    text-align: center;       /* Centraliza o texto */
}

/* Estilo para o título */
#title_pedido {
    font-size: 40px;
    color: #f33a10;
    margin-bottom: 20px;
    text-align: center;      /* Espaço abaixo do título */
    text-shadow: 
    0 1px 0 #ffd82c,
    0 2px 0 #ffd82c,
    0 3px 0 #ffd82c;
}

/* Estilizando o fieldset */
fieldset {
    border: 2px solid #dae285;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
}

/* Estilizando a legenda */
legend {
    font-weight: bold;
    font-size: 18px;
    color: #ffd82c;
}

/* Estilo para os rótulos (labels) */
label {
    display: block;
    font-size: 16px;
    margin: 10px 0 5px;
    color: #333;
}

/* Estilo para os selects */
select {
    width: 100%;              /* Faz os inputs ocuparem toda a largura do container */
    padding: 10px;
    border: 1px solid #ccc;  /* Borda suave */
    border-radius: 15px;
    font-size: 14px;
    font-family: "Josefin Sans", serif;
    background-color: #fff;
}

select:focus{
    outline: none;
}
/* Estilo para o botão */
button {
    width: 100%;
    font-family: "Josefin Sans", serif;
    padding: 12px;
    margin-top: 15px;         /* Espaço entre os botões */
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;  /* Verde */
    color: white;
}

/* Efeito ao passar o mouse no botão */
button:hover {
    background-color: #45a049;
}

/* Responsividade */
@media (max-width: 400px) {
    #form_pedido {
        width: 90%;
    }
}
